<div class="mt-2">
  <div class="col-6">
    <h4>Add new Quotes</h4>
    <form (ngSubmit)="createQuote()">
      <div class="form-group">
        <label for="category">Choose a category: </label>
        <select name="category" id="category" [(ngModel)]="category">
          <option value="Star Wars">Star Wars</option>
          <option value="Famous people">Famous people</option>
          <option value="saying">Saying</option>
          <option value="humour">Humour</option>
          <option value="motivational">Motivational</option>
        </select>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input
          [(ngModel)]="author"
          type="text"
          name="author"
          id="author"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="quote">Quote text</label>
        <textarea
          [(ngModel)]="text"
          name="quote"
          id="quote"
          class="form-control"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
      >Save
      </button>
    </form>
  </div>
</div>
