<div class="row mt-2">
  <div class="col" *ngIf="quotes">
    <h1>Quotes</h1>
    <h3>{{ id }}</h3>
    <div *ngFor="let quote of quotes" class="card-body mt-3" style="border: 1px solid black">
      <p><strong>{{ quote.text}}</strong></p>
      <p>{{ quote.author }}</p>
      <p>{{ quote.category}}</p>
      <button class="btn btn-secondary" routerLink="/quotes/{{ quote.id }}/edit">Edit</button>&nbsp;
      <button class="btn btn-danger" (click)="delete(quote.id)">Delete</button>
    </div>
  </div>
</div>
