<div class="d-flex justify-content-around">
  <div class="col-4">
    <h3>Categories</h3>
      <a class="list-group-item" *ngFor="let name of category" routerLinkActive="active" [routerLink]="['/quotes', name]">{{ name }}</a>
  </div>
  <div class="col-3">
    <router-outlet></router-outlet>
  </div>
</div>
